@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model WinstonTraining.Core.Models.CartPage

<h1>@Html.PropertyFor(m => m.Title)</h1>

<p>@Html.PropertyFor(m => m.MainBody)</p>

@section customScriptsBodyClose{
}