@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model WinstonTraining.Core.Models.CartPage

<div class="row">
    <div class="col">
        <h1>@Html.PropertyFor(m => m.Title)</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>@Html.PropertyFor(m => m.MainBody)</p>
    </div>
</div>

<!-- rs: vue.js instance for the full cart page-->
<div class="vue-Cart">

    <div class="row mb-2">
        <div class="col">
            <h2>Total Line Items: {{TotalItems}}</h2>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-6">
            <h5>Item Name</h5>
        </div>
        <div class="col-2">
            <h5>Item Qty</h5>
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
            <h5>Price</h5>
        </div>
    </div>

    <div class="row mb-2" v-for="item in Items">

        <!-- for each item in the cart render the following-->
        <div class="col-6 pt-2">
            <span v-bind:data-code="item.Code">{{item.DisplayName}}</span>
        </div>
        <div class="col-2">
            <input type="number" class="p-2" style="width:65px" v-bind:value="item.Quantity" v-on:input="updateLineItemQty(item.Code, $event.target.value)" />
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary p-2" v-on:click="updateLineItemQty(item.Code, 0)">Remove</button>
        </div>
        <div class="col-2 pt-2">
            <span>$ {{item.Total}} {{Currency}}</span>
        </div>
        <!-- end for-->

    </div>

    <div class="row">
        <div class="col-auto">
            <button type="button" class="btn btn-primary p-2" v-on:click="clickClearAllBtn()">Clear All</button>
        </div>
    </div>

</div>

    @section customScriptsBodyClose{
        <script src="~/Scripts/custom/cart.js"></script>
    }
