<!DOCTYPE html>

<!--[if IE 9]><html class="no-js ie9 en-us" lang="en-us"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js en-us" lang="en-us">
<!--<![endif]-->

    <head>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    </head>

    <body>
        <div>
            @RenderBody()
        </div>
        @RenderSection("scripts", false)
    </body>
</html>

