<!DOCTYPE html>

<!--[if IE 9]><html class="no-js ie9 en-us" lang="en-us"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js en-us" lang="en-us">
<!--<![endif]-->

<head>
    <link href="~/Content/bootstrap.min.css" rel='stylesheet' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel='stylesheet' />
    @RenderSection("customCssHead", false)
    @RenderSection("customScriptsHead", false)
</head>

<body>
    @{ Html.RenderPartial("_Header"); }
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/Scripts/custom/_store.js"></script>
    <script src="~/Scripts/custom/cartHeader.js"></script>
    <script src="~/Scripts/custom/customerHeader.js"></script>
    @RenderSection("customScriptsBodyClose", false)
    <script src="~/Scripts/custom/_init.js"></script>
</body>
</html>

