<!DOCTYPE html>

<!--[if IE 9]><html class="no-js ie9 en-us" lang="en-us"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js en-us" lang="en-us">
<!--<![endif]-->

    <head></head>

    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>

